* {
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 1.2rem;
}
.hero {
  padding: 3% 4%;
  background-color:  rgb(22, 8, 8);
  color: Teal;
}
.hero p {
  max-width: 75%;
}

.logo {
  font-size: 3rem;
  background-color: teal;
  color:  rgb(22, 8, 8);
  padding: 0 10px;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 6px 5px beige;
}
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
  background-color:beige;
}
a {
  text-decoration: none;
  color:Teal;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: navy;
}

button {
  background-color: rgb(22, 8, 8);
  border: 0;
  padding: 1%;
  color: navy;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
}

.card{
      border: solid rgb(22, 8, 8);
      background-color: beige;
      border-radius: 15px;

}
.card-header{border: solid  rgb(22, 8, 8);
  color: navy;
  background:teal;
  /* margin-top: -16px; */
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  border-bottom: solid rgb(22, 8, 8) ;
}
.card-body {
  background: beige;
  padding-bottom: 0;
  border-top: rgb(22, 8, 8);
}
.card-text {background: white;
color: navy;
}
span{
  text-justify: left;
}
textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 3px solid navy;
  background-color: beige;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 10px solid teal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
  align-items: left;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: teal;
}

.delete-post-btn:hover {
  background-color:red;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color:teal;
  transition: background-color .1s;
  color: rgb(22, 8, 8)
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
  border:teal;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}
.signup-form{
  float: left;
  border: solid  rgb(22, 8, 8);
  border-radius: 15px;
  padding: 10px;
  background: teal;
  color:  beige;
  font-weight: bold;
  border-spacing: 40px;
}
.login-form{
  float: right;
  border: solid  rgb(22, 8, 8);
  border-radius: 15px;
  padding: 10px;
  background: teal;
  color:  beige;
  font-weight: bold;
  border-spacing: 40px;  
}
h2 {
  margin: 10;
  position: relative;
  left:90%;
  -ms-transform: translateX(-50%);
  transform:translateX(-50%);
  font-weight: bold;
  font-style: italic;
  font-size: 36px;
}
.new-post-form{float: Center;
  border: solid  rgb(22, 8, 8);
  margin: 0;
  position: relative;
  left:50%;
  -ms-transform: translateX(-50%);
  transform:translateX(-50%);
  border-radius: 15px;
  padding-left: 100px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: teal;
  color:  beige;
  font-weight: bold;
  align-content: center;
  width: 50%; 
}
footer {
  border-top: 10px solid teal;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
/*responsiveness - on screens less than 500px*/
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}